# Local git config
/.config

# Go-specific
/vendor/
/go/pkg/
/go/bin/
*.exe
*.log
*.out
*.test
*.DS_Store
.gcloudignore
envrc
.envrc
.env
*.env
*.env.development
*.env.production
*.env.local
*.env.test
*.swp
*~
.go
coverage.out
profile.out
build/

# React / JavaScript specific
/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
/dist/
/build/
/public/
/out/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.staging
.env.production
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.example
.env.docker
.env.vite
.cache
.next
.vercel
output/
tmp/
temp/
logs/
*.log
*.sqlite3
*.sql
*.db
*.bak

# Java specific
/target/
/out/
/build/
.gradle/
.DS_Store
*.class
*.log
*.cache
*.lock
.settings/
.project
.classpath
.metadata/
bin/
*.iml
*.ipr
*.iws
.idea/
*.sublime-project
*.sublime-workspace
logs/
log/
temp/
tmp/
*.war
*.jar
*.class
*.ser
*.ctxt
.javax_
.wtpmodules
WEB-INF/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Avoid ignoring Maven wrapper jar files
!/.mvn/wrapper/maven-wrapper.jar

# Editors and IDEs
*.swp
*~
/.vscode/
/.idea/
/.DS_Store
Thumbs.db
desktop.ini